ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: #a87f32;
  color: white;
  display: flex;
}
li a {
  display: block;
  width: 70px;
}
img {
float: right;
width: 300px;
}
h1 {
text-align: center;
}


